.column-1 {
  display: inline-block;
  width: 48%;
  background: linear-gradient(#A8A8A8,#FFFFFF,#A8A8A8);
  vertical-align: top;
}

.column-2 {
  display: inline-block;
  width: 48%;
  background: linear-gradient(#FFFFFF,#A8A8A8,#FFFFFF);
  vertical-align: top;
}

header {
  display: block;
  font-family: "Helvetica";
}

footer {
  display: block;
  font-family: "Helvetica";
  margin-top: 10px;
  
}

img {
  display: block;
  height: 100px;
  width: 100px;
}