

body {
  max-width: 960px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.side-by-side {
  display: table;
}

#main-content {
  display: table-cell;
  vertical-align: top;
  width: 80%;
  padding-right: 20px;
  padding-bottom: 20px;

}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  display: table-cell;
  vertical-align: top;
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}


/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}



/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/


@media screen and (max-width: 500px) {
  body {
    font-size: 1.5em;
  }

  .side-by-side {
  display: block;
  }

  #main-content {
  vertical-align: top;
  width: 90%;
  padding-right: 20px;
  padding-bottom: 20px;
  }
  #external-links ul {
  vertical-align: top;
  list-style-type: none;
  padding-left: 0px;
  width: 10%;
  }
}

