.container {
	position: relative;	
	display: block;
	width: 275px;
	height: 350px;
	margin: auto;
}

.hat {
	position: absolute;
	display: block;
    top: -50px;
    left: 5px;
    z-index: 2;

}

.glasses {
	position: absolute;
	display: block;
	top: 100px;
	left: 75px;
	z-index: 2;

}

.octopus {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	display: block;
	z-index: 1;

}